<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>TheSloiks</title>
        <style>
            table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
            }
        </style>
    </head>
    <body>
        {% if jars_list %}
        <h1 style="text">{% if single %}Requsted Jar:{% else %}List of all Jars:{% endif %}</h1>
            <table style="width:100%; text-align:center">
                <tr>
                    <th>Id</th>
                    <th>Balance</th>
                    <th>Currency</th>
                </tr>
                {% for jar in jars_list %}
                <tr>
                    <td>{{ jar.id }}</td>
                    <td>{{ jar.balance }}</td>
                    <td>{{ jar.currency }}</td>
                </tr>
                {% endfor %}
           </table>
        {% else %}
            <p>{% if single %}Requsted Jar does not exist{% else %}There are no jars.{% endif %}</p>
        {% endif %}
    </body>
</html>